<!DOCTYPE html>
<html>
<head>
    <title>BeSafe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
</head>
<body>
    
    
    <section id=home>
    {% include "navbar.html" %}
    <div class="container-fluid text-center">
        
            <div class="row " style="height: 300px; padding-top: 50px;">
                <div class="col-lg" style="text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);" >
                    

                        <h4>
                        {% now "l, "  %}<br>
                        {% now "j F Y"  %}<br>
                        </h4>


                        <h1>{% now "H:i"  %}</h1>
                    
                    

                </div>
                
                <div class="col-lg" style="text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);">
                    
                    {{form.suhu.label}}<br>
                    <h1>{{info.suhu}} °C </h1>

                </div>

                <div class="col-lg" style="text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);">
                    
                    {{form.udara.label}}<br>
                    <h1>{{info.udara}}</h1>
                    US AQI
                    
                </div>


                <div class="col-lg">
                    <form method="get">
                        <div class="form-group" style="text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);">
                           
                            {{ form.kota.label }}<br>
                            <h2>{{ form.kota }}</h2>
                        </div>
                        <button type="Submit" class="btn btn-light">Pilih</button>
                    </form>

                </div>

            </div>

            <div class="row">
                <div class="col-lg" style=" padding-left: 50px; text-align: left;">
                    
                    <h3>
                        <img class="img image-size" src="{%static 'images/home/kebakaran.png' %}">
                        <span style="text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);">{{form.kebakaran.label}} 
                            <span style="color: red; font-size: 40px;">{{info.kebakaran}}</span> 
                        </span>
                    </h3>
                    

                    <h3>
                        <img style="border-radius: 50%" class="img image-size" src="{%static 'images/home/banjir.png' %}">
                        <span style="text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);">{{form.banjir.label}}
                            <span style="color: red; font-size: 40px;">{{info.banjir}}</span>
                        </span>
                    </h3>
                   

                    <h3>
                        <img class="img image-size" src="{%static 'images/home/gempa.png' %}">
                        <span style="text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);">{{form.gempa.label}}
                            <span style="color: red; font-size: 40px;">{{info.gempa}}</span>
                        </span>
                    </h3>
                    

                   
                </div>

                <div class="col-lg justify-content-center" >
                    
                    <div 
                       class="display-1" 
                       style="text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);">{{info.kota}}
                    </div>
                    
                </div>

                <div class="col-lg justify-content-center" >
                    
                       
                    
                </div>

            </div>   

            <div>
                <a href="#steps">
                    <h1>
                    <img class="img image-size" src="{%static 'images/home/swipe.png' %}">
                    <span style="color: red"> {{info.peringatan}}</span></h1>
                </a>
            </div> 
       
       
    </div>
    </section>


    <section id=steps>
        <div class="container-fluid text-center">
            <div style="padding-top: 100px;">
                <h1>{{info.langkah|linebreaks}}</h1>
            </div>
        </div>
    </section>

</body>
