<!DOCTYPE html>
<html>
<head>
    <title>Feedback</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/feedback.css' %}" />
</head>
<body>
{% include "navbar.html" %}
    <div class="container-fluid text-center">
        <div class="row m-1">
            <div class="col text-center">
                <h1>Feedback</h1>
            </div>
        </div>

        <div class="row">
            <div class="col text-center m-3">
                <h2>
                    Tulis feedback anda dibawah ini agar website ini dapat berkembang dengan baik.
                </h2>
            </div>
        </div>


        <div class="row m-3">
            <div class="col-lg-6 col-12 text-left my-3 my-lg-0">
                <form action="create_feedback/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ feedback_form }}
                    </div>
                    <button type="Feedback" class="btn btn-light">Kirim</button>
                </form>
            </div>

        </div>
    </div>
</body>
