body {
    background-color: #772929;
    font-family: 'Carter One';
    color: white;
}

/* carter-one-regular - latin */
@font-face {
    font-family: 'Carter One';
    font-style: normal;
    font-weight: 400;
    src: local('Carter One'), local('CarterOne'),
         url('../fonts/carter-one-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/carter-one-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  