<!DOCTYPE html>
<html>
<head>
    <title>Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/about.css' %}" />
</head>
<body>
    {% load crispy_forms_tags %}
    {% include "navbar.html" %}
    <form method="POST">
    {% csrf_token %}
        <div class="semua_kontak">
            <div class="col-12 text-center" style="margin-top: 20px;">
                <h1>Form Kontak Darurat</h1>
            </div>
            <div class="container">
                <div class= "row justify-content-center">
                    <div class="col-8">
                        {{ form.nama | as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ form.umur | as_crispy_field }}
                    </div>
                </div>
                {{ form.email | as_crispy_field }}
                {{ form.kontak | as_crispy_field }}
                {{ form.alamat | as_crispy_field }}
                {{ form.kota | as_crispy_field }}
                <div class = "row">
                    <div class="col-4">
                        {{ form.rt | as_crispy_field }}
                    </div>
                    <div class="col-4">
                        {{ form.rw | as_crispy_field }}
                    </div>
                </div>
                {{ form.kode_pos | as_crispy_field }}
                {{ form.Deskripsi_Kedaruratan | as_crispy_field }}
                <button type= "submit" class="btn btn-outline-light btn-lg" 
                style="margin-bottom: 20px;">Kirim</button>
                {% if messages %}
                <ul class="messages" style="color: green;">
                    {% for message in messages %}
                    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </form>
</body>
</html>