<!DOCTYPE html>
<html>
<head>
    <title>Kontak Darurat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/kd_style.css' %}" />
</head>
<body>
{% include "navbar.html" %}
    <div class="container-fluid text-center">
        <div class="row" style="color: white">
            <div class="col-12 text-center">
                <h1>Kontak Darurat</h1>
            </div>
        </div>
        <div class= "kontak">
            <div class="row">
                <div class="col-md-4" style="background-color: white; margin-top: 20px; 
                margin-left: 20px; margin-right: 20px; border-radius: 15px;">
                    <div class="col-md-12" style="margin-top: 50px">
                    <div class="bnpb">
                        <h3><a href="https://bnpb.go.id/" style="color: black;">BNPB (Badan Nasional Penanggulangan Bencana)</a></h3>
                        <p>Alamat : Jl. Pramuka Kav.38 Jakarta Timur</p>
                        <p>Telp. (021) 29827793</p>
                        <p>Fax. (021) 21281200</p>
                    </div>
                    <div class="bnpp">
                        <h3><a href="http://basarnas.go.id/" style="color: black;">Badan Nasional Pencarian dan Pertolongan</a></h3>
                        <p>Telp. 021 6570 1116 (08.00 - 16.00) & 021 6570 1116</p>
                        <p>(Emergency Call) Ext. 115</p>
                        <p>Fax. 021 65701152 (08.00 - 16.00) & 021 65867512 ( BCC)</p>
                    </div>
                    </div>
                </div>
                <div class="col-md-3 align-items-center">
                    <div class="col-md-12">
                        <div class="vl">
                            <hr style="width: 2px; height: 500px; background: 
                            white; border-radius: 15px;">
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="background-color: white; 
                margin-top: 20px; margin-right: 20px; margin-left: 20px; 
                border-radius: 15px;">
                <div class="col-md-12" style="margin-top: 50px;">
                    <div class="ambulan">
                        <h3>Ambulans</h3>
                        <p>(Emergency call) Ext. 118 & 119</p>
                    </div>
                    <div class="posko">
                        <h3>Posko Bencana Alam</h3>
                        <p>(Emergency call) Ext. 129</p>
                    </div>
                    <div class="pemadam">
                        <h3>Pemadam Kebakaran</h3>
                        <p>(Emergency call) Ext. 113 & 1131</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="caption" style="margin-top: 20px">
            <div class="col-m-12 text-center">
                <h2>Atau</h2>
            </div>
            <div class="col-m-12 text-center">
                <h3>Anda dapat mengisi form kontak darurat</h3>
            </div>
            <div class="new text-center" style="padding-top: 20px; padding-bottom: 20px;">
                <a class="btn btn-outline-light btn-lg" href="{% url 'forms_kontak_darurat' %}">Isi Form Kontak Darurat</a>
            </div>
        </div>
    </div>
</body>
</html>